<h2 class="text-center">My List</h2>
<hr>
<div class="container" *ngIf="!loading else loadingTemplate">
  <div class="row" *ngIf="myListMovies.length>0 else noMvies">
    <div class="col-md-6" *ngFor="let movie of myListMovies">
      <div class="card mb-3">
        <img src="../../../assets/img/{{movie.imageUrl}}" class="card-img-top"
          style="max-height: 200px; object-fit: contain;">
        <div class="card-body">
          <div class="mb-3">
            <h3 class="card-title text-capitalize mb-2">
              {{movie.name}}
            </h3>
            <span class="badge bg-dark">
              {{movie.categoryName}}
            </span>
          </div>

          <p class="card-text">
            {{movie.description}}
          </p>

          <div>
            <button type="button" (click)="RemoveFromList(movie)" class="btn btn-danger">Listeden Kaldır</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>

<ng-template #noMvies>
  <app-no-movies></app-no-movies>
</ng-template>
