<div class="row">
  <div class="col-md-9">
    <form>
      <h4>Movie Create</h4>
      <div class="my-3">
        <label class="form-label">Movie Name</label>
        <input type="email" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea type="password" class="form-control" rows="5"></textarea>
      </div>
      <div class="my-3">
        <label class="form-label">Image Url</label>
        <input type="text" class="form-control">
      </div>
      <div class="my-3">
        <label class="form-label">Category</label>
        <select class="form-select">
          <option selected disabled>Seçiniz</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </form>

  </div>
</div>
