<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container py-1">
    <a class="navbar-brand" routerLink="/">Navbar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navItems">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navItems">
      <ul class="navbar-nav me-auto" *ngIf="isAuthenticated">
        <li class="nav-item">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/movies" class="nav-link">Movies</a>
        </li>
        <li class="nav-item">
          <a routerLink="/categories" class="nav-link">Categories</a>
        </li>
        <li class="nav-item">
          <a routerLink="/movies/mylist" class="nav-link">My List</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            Create
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/movies/create">Movie</a></li>
            <li><a class="dropdown-item" routerLink="/category/create">Category</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <form *ngIf="isAuthenticated" class="d-flex me-md-5 my-md-0 my-2" [formGroup]="searchForm" (ngSubmit)="Search()">
          <input class="form-control me-2" type="search" placeholder="Search" formControlName="searchText">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <li class="nav-item">
          <a *ngIf="!isAuthenticated" routerLink="/auth" class="nav-link">Login / Register</a>
        </li>
        <li class="nav-item">
          <a (click)="Logout()" *ngIf="isAuthenticated" class="nav-link" style="cursor: pointer;">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
